DATABASE_URL="postgresql://user:password@localhost:5432/db?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/db?schema=public"
# PRISMA_ACCELERATE_URL=""

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

ADMIN_EMAIL=""
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

SMTP_HOST=""
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
STRIPE_SECRET_KEY=""

# Dummy values for build (can be empty or placeholder)
SALES_EMAIL=""
STRIPE_SHIPPING_RATES=""
STRIPE_SHIPPING_COUNTRIES="US,FR"
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_SIGNED_TTL="60"
NEWSLETTER_PROVIDER="brevo"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""

BREVO_API_KEY=""
BREVO_LIST_ID=""
CLOUDINARY_AUTHENTICATED="true"

ADMIN_OVERRIDE_EMAILS=""
AUTH_TRUST_HOST=true
